body.client_apps
  #appsController
    table
      th,td
        button, a
          background-color: transparent
          text-transform: uppercase
          font-size: inherit
          font-weight: bold
          margin: 0
          &:not(:last-child)
            margin-right: 20px
          padding: 0
          color: $brand-primary
          &:hover
            color: tint($brand-primary, 30%)
          *
            vertical-align: middle
      tr
        th,td
          &:last-of-type
            +tablet
              text-align: right
  .btn-regenerate
    +btn_border($gray)
    +btn_border_small
  .accountCheck
    float: right
    color: $gray-lighter
    font-weight: normal
    text-transform: none
    vertical-align: middle
  .not-exists
    color: $brand-red


  .mdi-small
    font-size: 1.75rem
    position: relative
    top: 8px

  .mdi-tiny
    font-size: 1.45rem
    position: relative
    top: 6px
